In [1]:
from scipy.io import arff
import pandas as pd

In [ ]:
data, meta = arff.loadarff('../data/phpMawTba.arff')

In [3]:
meta

Dataset: adult
	age's type is numeric
	workclass's type is nominal, range is ('Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked')
	fnlwgt's type is numeric
	education's type is nominal, range is ('Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters', '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool')
	education-num's type is numeric
	marital-status's type is nominal, range is ('Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse')
	occupation's type is nominal, range is ('Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces')
	relationship's type is nominal, range is ('Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried')
	race's type is nominal, range is ('White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black')
	sex's type is nominal, range is ('Female', 'Male')
	capital-gain's type is numeric
	capital-loss's type is numeric
	hours-per-week's type is numeric
	native-country's type is nominal, range is ('United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece', 'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland', 'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland', 'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia', 'Hungary', 'Guatemala', 'Nicaragua', 'Scotland', 'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong', 'Holand-Netherlands')
	class's type is nominal, range is ('>50K', '<=50K')

In [4]:
data

array([(25., b'Private', 226802., b'11th',  7., b'Never-married', b'Machine-op-inspct', b'Own-child', b'Black', b'Male',     0., 0., 40., b'United-States', b'<=50K'),
       (38., b'Private',  89814., b'HS-grad',  9., b'Married-civ-spouse', b'Farming-fishing', b'Husband', b'White', b'Male',     0., 0., 50., b'United-States', b'<=50K'),
       (28., b'Local-gov', 336951., b'Assoc-acdm', 12., b'Married-civ-spouse', b'Protective-serv', b'Husband', b'White', b'Male',     0., 0., 40., b'United-States', b'>50K'),
       ...,
       (58., b'Private', 151910., b'HS-grad',  9., b'Widowed', b'Adm-clerical', b'Unmarried', b'White', b'Female',     0., 0., 40., b'United-States', b'<=50K'),
       (22., b'Private', 201490., b'HS-grad',  9., b'Never-married', b'Adm-clerical', b'Own-child', b'White', b'Male',     0., 0., 20., b'United-States', b'<=50K'),
       (52., b'Self-emp-inc', 287927., b'HS-grad',  9., b'Married-civ-spouse', b'Exec-managerial', b'Wife', b'White', b'Female', 15024., 0., 40., b'United-States', b'>50K')],
      shape=(48842,), dtype=[('age', '<f8'), ('workclass', 'S16'), ('fnlwgt', '<f8'), ('education', 'S12'), ('education-num', '<f8'), ('marital-status', 'S21'), ('occupation', 'S17'), ('relationship', 'S14'), ('race', 'S18'), ('sex', 'S6'), ('capital-gain', '<f8'), ('capital-loss', '<f8'), ('hours-per-week', '<f8'), ('native-country', 'S26'), ('class', 'S5')])

In [7]:
df = pd.DataFrame(data)
# Optional: Convert byte strings to regular strings (if necessary)
# SciPy often loads nominal/string attributes as bytes (e.g., b'sunny')
for col in df.select_dtypes([object]):
    df[col] = df[col].str.decode('utf-8')

In [8]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44.0,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,18.0,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K