# Record Your Efforts with Git Commits

Each exercise we want a notebook with the name: `Exercise Mx.yy.ipynb`.

1. First commit will contain the exercise (no solution yet)
2. Next commits will contain incremental steps towards the solution (everytime you solve a part of the exercise, commit your code)

The instructor asks you to solve `Exercise M1.01` for the module named `"Tabular data exploration"`. You create a file named `Exercise M1.01.ipynb` and copy the exercise (no solution yet) into that file. And commit that into `git`, with the message:


```sh
git commit -m "add Exercise M1.01: Tabular data exploration"
```

Then, you solve the first part which has the questions: "What are the features? What is the target?" and commit your solution with the message:

```sh
git commit -m "solve M1.01: What are the features? What is the target?"
```

You move on to the next question to solve the question: "How many features are numerical? How many features are categorical?" and commit your solution with the message:

```sh
git commit -m "solve M1.01: How many features are numerical? How many features are categorical?"
```

..etc.

After you have finished the execise, you may push to GitHub, or keep going until the end of the module, then do one single push for all. Either way, the push command is simply:

```sh
git push
```

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("../data/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [8]:
df.shape

(20640, 10)